# Python相关
__pycache__/
*.py[cod]
*.so
.Python
venv/
env/
ENV/
.venv

# Jupyter Notebook 相关
.ipynb_checkpoints/
*.ipynb_checkpoints
.virtual_documents/
*.virtual_documents

# 操作系统
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.swp
*.swo
